<header>
    <div class="container">
        <a href="#" class="logo">Logo</a>

        <nav>
            @if(authService.isAuthenticated()){
                <a routerLink="/jugadores" routerLinkActive="active">Jugadores</a>
                <a routerLink="/jugadores/nuevo" routerLinkActive="active">Registrar jugador</a>
                <button (click)="logout()" >Cerrar Sesión</button>
            }
            @else if(!authService.isAuthenticated()){
                <a routerLink="/login" routerLinkActive="active">Inicio de sesión</a>
            }
        </nav>
    </div>
    
</header>
